# Dependências (Nunca suba esta pasta!)
node_modules/
npm-debug.log*

# Banco de Dados e Armazenamento
*.db
*.db-journal
*.db-wal
/mnt/armazenamento/

# Logs e arquivos do Sistema
.DS_Store
.vscode/
.idea/
*.log

# Uploads e temporários
public/uploads/*
!public/uploads/.gitkeep


# Segurança e Tokens
.token
.env
*.pem
jwt.secret

# Dependências
node_modules/

# Banco de Dados
*.db
*.db-wal
*.db-journal
